<!-- render ~author -->
<!DOCTYPE html>
<html lang="ja">
<body>
    <div class="blog-layout" id="home">
      <!-- 左側：検索・フィルター -->
      <aside class="sidebar" aria-label="サムネイルを入れたい">
            ここにサムネイルが来てくれると嬉しい。
      </aside>

      <!-- 右側：ブログ記事 -->
      <section>
        <p>Welcome to Kasushuku-Minna-Blog!</p>
        <pre >
<p>
かすしゅくに参加しているみんなで記事を書ける、
新しいブログを公開しました。
このブログでは、イベントのお知らせや活動記録、
開発中に見つけた便利な情報などを掲載していきます。
                </p>
        </pre>
        <button class="default" hx-get="./home_window.html" hx-target="#main-window">homeに戻る</button>
    </section>
    </div>
</html>
