<!-- render ~author ~article_count -->
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  <title>かすしゅくみんなブログ</title>
  <link
    rel="stylesheet"
    href="https://unpkg.com/98.css"
  >
  <link
  rel="stylesheet"
  href="../assets/bg.css">
</head>

<body>
  <main class="window blog-window">
    <!-- タイトルバー -->
    <header>
      <div class="title-bar">
        <div class="title-bar-text">
          <span aria-hidden="true">📝</span>
          かすしゅくみんなブログ
        </div>

        <div class="title-bar-controls">
          <button type="button" aria-label="Minimize"></button>
          <button type="button" aria-label="Maximize"></button>
          <button type="button" aria-label="Close"></button>
        </div>
      </div>
      </header>

      <!-- メニューバー -->
      <nav aria-label="メインメニュー">
          <menu role="tablist">
              <li role="tab" aria-selected="true"><a href="#tabs" hx-get="./home_window.html" hx-target="#main-window" >ホーム (home)</a></li>
              <li role="tab"><a href="#tabs" hx-get="./all_posts.html" hx-target="#main-window" >記事一覧 (articles)</a></li>
              <li role="tab"><a href="#tabs" hx-get="./about.html" hx-target="#main-window" >このブログについて (about)</a></li>
              <li role="tab"><a href="#tabs">お問い合わせ (contact)</a></li>
            </menu>
      </nav>
  <div class="window" role="tabpanel">
    <dev class="window-body" id="main-window" hx-get="./home_window.html" hx-trigger="load"><!--ここが仮面更新されます。-->

    </dev>
    <!-- ステータスバー -->
    <footer class="status-bar">
      <p class="status-bar-field" id="status-text">
        <%s article_count %>件の記事を表示しています
      </p>
      <p class="status-bar-field"><%s author %></p>
      <p class="status-bar-field" id="clock-text">00:00</p>
    </footer>
  </main>

</body>
</html>
